.App {
  position: relative;
  box-shadow: 10px 10px 30px #00000015;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-width: 1600px;
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

p {
  margin: 0;
}

main {
  display: flex;
  gap: 2rem;
}

main > .content-container {
  flex: 2.5;
  background-color: var(--white-70);
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  max-height: 930px;
  padding: 1rem;
}
main > .content-container .content {
  overflow: auto;
  height: 95%;
  max-height: 95%;
}